/*  Body - this is the color and font of the page itself*/
body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
}

/* This id-selector controls the div of what people see
 the second they visit the page*/
#start-screen {
    height: 100vh; /* This means the div takes up the whole page*/
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centering the stuff inside the div */
    align-items: center;
}

/* This is for the screen that prompts users to input the number of participants.*/
#setup-screen {
    height: 90vh; /* This means the div takes up 90% of the page, regardless of resizing.*/
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centering the stuff inside the div */
    align-items: center;
    /* Styling the text on the page */
    color: white;
    font-weight: bold;
    font-size: 35px;
}

/* Page layout is the same as the previous one.*/
#contestants{
    height: 90vh; /* This means the div takes up 90% of the page, regardless of resizing.*/
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centering the stuff inside the div */
    align-items: center;
    /* Styling the text on the page */
    color: white;
    font-weight: bold;
    font-size: 35px;
}

/* Page layout is the same as the previous one.*/
#tournament-hub{
    height: 90vh; /* This means the div takes up 90% of the page, regardless of resizing.*/
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centering the stuff inside the div */
    align-items: center;
    /* Styling the text on the page */
    color: white;
    font-weight: bold;
    font-size: 35px;
}


/* Styling the button that will commence the tournament*/
#start-button{
    /* Setting the dimensions of the button. height is 10% of height,
     and 40% width*/
    height: 10vh;
    width: 40vh;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px; /* This determines the rounded edges */
    background-color: #00ff66;
    font-weight: bold;
    transition: transform 0.9s, background-color 0.9s; /* This is for hover animations*/
}

/* This decides what to do once we hover. In this case, the button scales in size*/
#start-button:hover {
    background-color: #00cc52;
    transform: scale(1.05);
}

#advance-button {
    /* Setting the dimensions of the button. height is 10% of height,
     and 40% width*/
    height: 10vh;
    width: 22vh;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px; /* This determines the rounded edges */
    background-color: #00ff66;
    font-weight: bold;
    transition: transform 0.9s, background-color 0.9s; /* This is for hover animations*/
    margin: 70px;
}

/* This decides what to do once we hover. In this case, the button scales in size*/
#advance-button:hover {
    background-color: #00cc52;
    transform: scale(1.05);
}

#num-players {
     /* Setting the dimensions of the dropdown. height is 10% of height,
     and 20% width*/
    height: 8vh;
    width: 20vh;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px; /* This determines the rounded edges */
    background-color: #00ff66;
    font-weight: bold;
    text-align: center;
    margin: 25px;
}

#namesForm input[type='text'] {
    /* Setting the dimensions of the button. height is 10% of height,
     and 40% width*/
    height: 5vh;
    width: 20vh;
    font-size: 18px;
    cursor: pointer;
    border-radius: 25px; /* This determines the rounded edges */
    background-color: #00ff66;
}

#fc-logo {
    width: 80vh;
    padding: 10vh 10vh;
}
